<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>i-Noble ATS</title>
  <style>
    body {
      font-family: 'Nexa', Arial, sans-serif;
    }
    img {
      display: block;
      margin: 0 auto; /* Center the images */
      max-width: 100%;
      height: auto;
    }
    h2 {
      color: #333;
    }
    p {
      margin: 0 0 10px;
      font-size: 20px;
      color: black;
    }
    .feedback {
      background-color: #f9f9f9;
      padding: 10px;
    }
    .signature {
      font-style: italic;
    }
  </style>
</head>
<body>
  <img src="https://media.licdn.com/dms/image/C4D0BAQEjXsqDyfc5SA/company-logo_200_200/0/1631322772432?e=2147483647&v=beta&t=W6wzgULsMiicHIOngp8SOipicK0iTESaM7Qmsd_tmWM" alt="logo" style="width: 120px; height: 120px;">
  <p>Hello,</p>
  <p>We would like to inform that <b>{{name}}</b> has been <b>{{newStatus}}</b> who had applied to the role of <b>{{designation}}</b> at <b>{{company}}</b>.</p><br>
  <p class="feedback">Feedback:<br>&nbsp;&nbsp;&nbsp;{{feedback}}</p>
  <p class="signature">Thank You <br> With Regards <br> HR Team</p>
</body>
</html>
